/* DEPLOY CUSTOM CSS CHANGES HERE */

section {
  padding: 120px;
  min-height: 100vh;
  background-color: #191d37;
}

.image-container {
  margin: -20vh;
}

.scroll-btn {
  color: #fff;
  background-color: #1e1e1e;
  border: 2px solid;
  border-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.scroll-btn:hover {
  color: #364fed;
  background-color: #1e1e1e;
  border-color: #364fed;
  border-radius: 10px;
  transform: translateY(-2px);
}

.about-bg {
	background-image: url('../assets/maxens.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	height: min-height;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.about-image,
.about-content {
	background-color: rgba(255, 255, 255, 0.7);
  	padding: 20px;
  	border-radius: 10px;
  	margin: 20px;
  	position: relative;
  	z-index: 2;
}

.about-boxes {
	margin: 0 20px 20px 20px;
}

.projects {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.project {
  position: relative;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* hide radio buttons */
.project input {
  display: none;
}

.project-title {
  display: block;
  cursor: pointer;
  padding: 1.2rem 1.5rem;
  font-weight: 600;
  background: #eaeaea;
  transition: background 0.3s ease;
  font-size: 24px;
}

.project-title:hover {
  background: #dcdcdc;
}

/* project content hidden by default */
.project-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 0 1.5rem;
  text-align: left;
}

.project-content iframe {
  max-width: 100%;
  height: 200px;
  border: 0;
}

/* reveal when selected */
.project input:checked + .project-title + .project-content {
  max-height: 500px;
  opacity: 1;
  padding: 1rem 1.5rem 1.5rem;
}

/* add slight lift when expanded */
.project input:checked + .project-title {
  background: #d7d7d7;
}

.social-icon {
  color: #000;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #364fed;
}