/* DEPLOY CUSTOM CSS CHANGES HERE */

:root {
  --beats-primary: #364fed;
  --dirt-primary: #ea5b1b;
  --hillside-primary: #2d845e;
}

.badge-index {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1em;
  color: #fff;
}

section {
  padding-bottom: 60px;
  padding-top: 100px;
  background-color: color-mix(in srgb, var(--beats-primary) 10%, #1e1e1e 90%);
}

.image-container {
  margin: -20vh;
}

.scroll-btn {
  color: #fff;
  background-color: #1e1e1e;
  border: 2px solid;
  border-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.scroll-btn:hover {
  color: var(--beats-primary);
  background-color: #1e1e1e;
  border-color: var(--beats-primary);
  border-radius: 10px;
  transform: translateY(-2px);
}

.about-bg {
	background-image: url('../assets/maxens.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	height: min-height;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.about-image,
.about-content {
	background-color: rgba(255, 255, 255, 0.7);
  	padding: 20px;
  	border-radius: 10px;
  	margin: 20px;
  	position: relative;
  	z-index: 2;
}

.about-boxes {
	margin: 0 20px 20px 20px;
}

.pricing-card {
  background-color: #111;
  border: 2px solid;
  border-color: #fff;
}

.pricing-card h2, h3, p {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.pricing-card h2, h3 {
  color: var(--beats-primary);
}

.pricing-card p {
  background-color: #1e1e1e;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.projects {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.project-content h3 {
  margin-bottom: 1.5rem;
  color: #111;
}

.project {
  position: relative;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

/* hide radio buttons */
.project input {
  display: none;
}

.project-title {
  display: block;
  cursor: pointer;
  padding: 1.2rem 1.5rem;
  color: #fff;
  font-weight: 600;
  background: #1e1e1e;
  border: 2px solid;
  border-color: #fff;
  border-radius: 10px;
  transition: background 0.3s ease;
  font-size: 24px;
}

.project input:not(:checked) + .project-title:hover {
  background: #fff;
  border-color: #1e1e1e;
  color: #1e1e1e;
}

/* project content hidden by default */
.project-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 0 1.5rem;
  text-align: left;
}

.project-content iframe {
  max-width: 100%;
  height: 200px;
  border: 0;
}

/* reveal when selected */
.project input:checked + .project-title + .project-content {
  max-height: 500px;
  opacity: 1;
  padding: 1rem 1.5rem 1.5rem;
}

.project input:checked + .project-title {
  cursor: default;
  background: #1e1e1e;
}

.project:has(input:checked) .project-content {
  background-color: rgba(255, 255, 255 / 0.7);
}

.social-icon {
  color: #000;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--beats-primary);
}

.social-icon-ft {
  color: #fff;
  transition: color 0.3s ease;
  padding: 0.3em;
}

.social-icon-ft:hover {
  color: var(--beats-primary);
}