:root {
	--dirt-primary: #ea5b1b;
  	--hillside-primary: #2d845e;
}

.scroll-top:hover {
	color: var(--dirt-primary);
}

.scroll-btn:hover {
	color: var(--dirt-primary);
	border-color: var(--dirt-primary);
}

.badge {
	background-color: var(--dirt-primary);
}

.about-bg {
	background-image: url('../assets/maxens.JPG');
}

.pricing-card h2, h3{
	color: var(--dirt-primary);
}

.social-icon:hover {
	color: var(--dirt-primary);
}

.social-icon-ft:hover {
	color: var(--dirt-primary);
}